body {
  font-size: 16px;
  color: #000000;
  font-family: 'Playfair Display', serif;
}

/** HEADER **/
#header-nav {
  background-color: #cccccc;
  border-radius: 0;
  border: 0;
  height: 60px;
}
.nav-list {
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 20px;
}
.navbar-brand h1 { 
  font-family: 'Playfair Display', serif;
  color: #222;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 1px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.padding1 {
  background-color: rgb(207, 207, 207);
  padding:10px 20px 10px 20px;
  margin: 20px auto 20px auto;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: lightgoldenrodyellow;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .container {
    margin-top: 10px;
    padding: 0;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  #nav-list a {
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  h2.text-center {
    margin-top:110px ;
    }
    
  
}
